BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: true
IncludeBlocks: Preserve
SortIncludes: CaseInsensitive
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
