Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-assignment-in-if-condition,
  cert-*,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  performance-*,
  portability-*,
  security-*,
  misc-redundant-expression,
  misc-unused-parameters,

WarningsAsErrors: >
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-null-dereference,
  security-*,

CheckOptions:
  - key: bugprone-suspicious-string-compare.WarnOnImplicitComparison
    value: true
  - key: bugprone-sizeof-expression.WarnOnSizeOfCompareToConstant
    value: true

HeaderFilterRegex: "include/human/.*"
