<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="2">
    <title>Human</title>
    <background file="" alignment="topleft" scaling="none"/>
    <welcome language="en">Welcome to Human Installer</welcome>
    <options customize="never" rootVolumeOnly="false" allow-external-scripts="true"/>
    <domains enable_localSystem="true"/>
    <script>
        function check_system_requirements() {
            var os_version = system.version;
            var major = parseInt(os_version.split('.')[0]);
            if (major < 10) {
                my.result.title = "OS Too Old";
                my.result.message = "macOS 10.15 (Catalina) or later is required";
                my.result.type = "Fatal";
                return false;
            }
            var minor = parseInt(os_version.split('.')[1]);
            if (major == 10 &amp;&amp; minor &lt; 15) {
                my.result.title = "OS Too Old";
                my.result.message = "macOS 10.15 (Catalina) or later is required";
                my.result.type = "Fatal";
                return false;
            }
            return true;
        }
        function check_disk_space() {
            var disk_free = system.diskSpaceForVolume("/");
            var required = 500 * 1024 * 1024;
            if (disk_free &lt; required) {
                my.result.title = "Not Enough Disk Space";
                my.result.message = "At least 500 MB free space is required";
                my.result.type = "Fatal";
                return false;
            }
            return true;
        }
    </script>
    <installation-check script="check_system_requirements(); check_disk_space();"/>
    <volume-check script="check_disk_space();"/>
    <pkg-ref id="com.h-uman.human.pkg" version="@VERSION@" installKBytes="0">com.h-uman.human.pkg</pkg-ref>
    <options customize="never" require-scripts="false"/>
    <choices-outline>
        <line choice="default">
            <line choice="com.h-uman.human.pkg"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="com.h-uman.human.pkg" visible="false">
        <pkg-ref id="com.h-uman.human.pkg"/>
    </choice>
    <pkg-ref id="com.h-uman.human.pkg" onConclusion="none">com.h-uman.human.pkg</pkg-ref>
</installer-gui-script>
